/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	background-color: #808080;
    font-family: 'century gothic', arial, sans-serif;
    color: #2e008b;
}


div#container {
    width: 800px;
    margin: auto;
    background-color: #9F9FFF;

	
}

main p{
    background-color: #D3D3D3;
    width: 600px;
    padding-bottom: 24px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid black; 
    border-radius: 4px;
}

header{
    
    border: 1px solid blue;
    background: black;
    color: white;
    padding: 70px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: helvetica;
    text-align: center;

    
}


footer{
    font-size: 10px;
    color: white;
    background-color: #000000;
    padding-left: 20px;
}


    



/* for adding comments */
/* rgba is used for oppacity x,x,x,percent */
/* remember to end code with semi-colon */