body {
    
    background-color:lightpink; 
    
    color:rebeccapurple;
}

img {
    width: 100%;  
}

div#container {
    width:600px;
    border:1px solid blue;
    padding: 10px;
    background-color: azure;
    margin: auto;
}